.about{
    width: 90%;
    margin: auto;
    margin: 50px auto;
    /* border: 1px solid blue; */
}

.about-heading{
    text-align: center;
    margin: 20px;
}

.about-content{
    padding: 0px 80px;
    font-size: large;
    text-align: justify;
    line-height: 2;
}

@media (max-width: 480px) {
    .about-content{
        padding: 0 20px;
    }
    .about h2{
        margin-top: 40px;
        margin-bottom: 10px;
        text-align: center;
    }
    
}
