.about{
    width: 90%;
    margin: auto;
    margin: 50px auto;
    /* border: 1px solid blue; */
}

.about-heading{
    text-align: center;
    margin: 20px;
}

.about-content{
    padding: 0px 80px;
    font-size: large;
    text-align: justify;
    line-height: 2;
}