.gallery-container {
    text-align: center;
    padding: 20px;
    width: 90%;
    margin: auto;
    /* border: 1px solid blue; */
}

.swiper_container {
    height: 26rem;
    width: 50rem;
    /* border: 2px solid green; */
    padding: 2rem 0;
    position: relative;
}

.swiper-slide {
    width: 40rem;
    height: 100%;
    padding: 0;
    /* border: 1px solid black; */
    position: relative;
}


.swiper-slide img {

    width: 100%;
    height: auto;
    object-fit: cover;
}
